=begin
#Lago API documentation

#Lago API allows your application to push customer information and metrics (events) from your application to the billing application.

The version of the OpenAPI document: 0.51.0-beta
Contact: tech@getlago.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0-SNAPSHOT

=end

require 'cgi'

module LagoAPI
  class WebhookEndpointsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a webhook_endpoint
    # This endpoint is used to create a webhook endpoint.
    # @param webhook_endpoint_create_input [WebhookEndpointCreateInput] Webhook Endpoint payload
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpoint]
    def create_webhook_endpoint(webhook_endpoint_create_input, opts = {})
      data, _status_code, _headers = create_webhook_endpoint_with_http_info(webhook_endpoint_create_input, opts)
      data
    end

    # Create a webhook_endpoint
    # This endpoint is used to create a webhook endpoint.
    # @param webhook_endpoint_create_input [WebhookEndpointCreateInput] Webhook Endpoint payload
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpoint, Integer, Hash)>] WebhookEndpoint data, response status code and response headers
    def create_webhook_endpoint_with_http_info(webhook_endpoint_create_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.create_webhook_endpoint ...'
      end
      # verify the required parameter 'webhook_endpoint_create_input' is set
      if @api_client.config.client_side_validation && webhook_endpoint_create_input.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_endpoint_create_input' when calling WebhookEndpointsApi.create_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_endpoint_create_input)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.create_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#create_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a webhook endpoint
    # This endpoint is used to delete an existing webhook endpoint.
    # @param lago_id [String] Unique identifier assigned to the webhook endpoint within the Lago application. This ID is exclusively created by Lago and serves as a unique identifier for the webhook endpoint&#39;s record within the Lago system.
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpoint]
    def destroy_webhook_endpoint(lago_id, opts = {})
      data, _status_code, _headers = destroy_webhook_endpoint_with_http_info(lago_id, opts)
      data
    end

    # Delete a webhook endpoint
    # This endpoint is used to delete an existing webhook endpoint.
    # @param lago_id [String] Unique identifier assigned to the webhook endpoint within the Lago application. This ID is exclusively created by Lago and serves as a unique identifier for the webhook endpoint&#39;s record within the Lago system.
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpoint, Integer, Hash)>] WebhookEndpoint data, response status code and response headers
    def destroy_webhook_endpoint_with_http_info(lago_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.destroy_webhook_endpoint ...'
      end
      # verify the required parameter 'lago_id' is set
      if @api_client.config.client_side_validation && lago_id.nil?
        fail ArgumentError, "Missing the required parameter 'lago_id' when calling WebhookEndpointsApi.destroy_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints/{lago_id}'.sub('{' + 'lago_id' + '}', CGI.escape(lago_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.destroy_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#destroy_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all webhook endpoints
    # This endpoint is used to list all webhook endpoints.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number.
    # @option opts [Integer] :per_page Number of records per page.
    # @return [WebhookEndpointsPaginated]
    def find_all_webhook_endpoints(opts = {})
      data, _status_code, _headers = find_all_webhook_endpoints_with_http_info(opts)
      data
    end

    # List all webhook endpoints
    # This endpoint is used to list all webhook endpoints.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number.
    # @option opts [Integer] :per_page Number of records per page.
    # @return [Array<(WebhookEndpointsPaginated, Integer, Hash)>] WebhookEndpointsPaginated data, response status code and response headers
    def find_all_webhook_endpoints_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.find_all_webhook_endpoints ...'
      end
      # resource path
      local_var_path = '/webhook_endpoints'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpointsPaginated'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.find_all_webhook_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#find_all_webhook_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a webhook endpoint
    # This endpoint is used to retrieve an existing webhook endpoint.
    # @param lago_id [String] Unique identifier assigned to the webhook endpoint within the Lago application. This ID is exclusively created by Lago and serves as a unique identifier for the webhook endpoint&#39;s record within the Lago system.
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpoint]
    def find_webhook_endpoint(lago_id, opts = {})
      data, _status_code, _headers = find_webhook_endpoint_with_http_info(lago_id, opts)
      data
    end

    # Retrieve a webhook endpoint
    # This endpoint is used to retrieve an existing webhook endpoint.
    # @param lago_id [String] Unique identifier assigned to the webhook endpoint within the Lago application. This ID is exclusively created by Lago and serves as a unique identifier for the webhook endpoint&#39;s record within the Lago system.
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpoint, Integer, Hash)>] WebhookEndpoint data, response status code and response headers
    def find_webhook_endpoint_with_http_info(lago_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.find_webhook_endpoint ...'
      end
      # verify the required parameter 'lago_id' is set
      if @api_client.config.client_side_validation && lago_id.nil?
        fail ArgumentError, "Missing the required parameter 'lago_id' when calling WebhookEndpointsApi.find_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints/{lago_id}'.sub('{' + 'lago_id' + '}', CGI.escape(lago_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.find_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#find_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a webhook endpoint
    # This endpoint is used to update an existing webhook endpoint.
    # @param lago_id [String] Unique identifier assigned to the webhook endpoint within the Lago application. This ID is exclusively created by Lago and serves as a unique identifier for the webhook endpoint&#39;s record within the Lago system.
    # @param webhook_endpoint_update_input [WebhookEndpointUpdateInput] Webhook Endpoint update payload
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpoint]
    def update_webhook_endpoint(lago_id, webhook_endpoint_update_input, opts = {})
      data, _status_code, _headers = update_webhook_endpoint_with_http_info(lago_id, webhook_endpoint_update_input, opts)
      data
    end

    # Update a webhook endpoint
    # This endpoint is used to update an existing webhook endpoint.
    # @param lago_id [String] Unique identifier assigned to the webhook endpoint within the Lago application. This ID is exclusively created by Lago and serves as a unique identifier for the webhook endpoint&#39;s record within the Lago system.
    # @param webhook_endpoint_update_input [WebhookEndpointUpdateInput] Webhook Endpoint update payload
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpoint, Integer, Hash)>] WebhookEndpoint data, response status code and response headers
    def update_webhook_endpoint_with_http_info(lago_id, webhook_endpoint_update_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointsApi.update_webhook_endpoint ...'
      end
      # verify the required parameter 'lago_id' is set
      if @api_client.config.client_side_validation && lago_id.nil?
        fail ArgumentError, "Missing the required parameter 'lago_id' when calling WebhookEndpointsApi.update_webhook_endpoint"
      end
      # verify the required parameter 'webhook_endpoint_update_input' is set
      if @api_client.config.client_side_validation && webhook_endpoint_update_input.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_endpoint_update_input' when calling WebhookEndpointsApi.update_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhook_endpoints/{lago_id}'.sub('{' + 'lago_id' + '}', CGI.escape(lago_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_endpoint_update_input)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookEndpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhookEndpointsApi.update_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsApi#update_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
